html, 
body {
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
}

.loading {
    position: relative;
    width: 242px;
    height: 400px;
    overflow: hidden;
}

.e-1 {
    background-color: #e50815;
    height: 80px;
    width: 400px;
    bottom: 0px;
    position: absolute;
}

.e-2 {
    background-color: #e50815;
    height: 400px;
    width: 80px;
    position: absolute;
}

.e-3 {
    background-color: #e50815;
    height: 80px;
    width: 400px;
    top: 0px;
    position: absolute;
}

.e-4 {
    background-color: #b10510;
    height: 80px;
    width: 400px;
    top: 160px;
    position: absolute;
}