html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #080808;
    color: white;
    overflow: hidden;
  }
  
  @keyframes scaleUp {
    to {
      transform: scale(1.4);
    }
  }
  
  .loading {
    position: relative;
    width: 242px;
    height: 400px;
    overflow: hidden;
    transform: scale(1);
    transform-origin: center center;
    animation: scaleUp 4s ease-in-out forwards;
    animation: popOut 4s ease-in-out forwards;
    animation-delay: 1.2s;
  }

@keyframes popIn {
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  @keyframes popOut {
    to {
      transform: scale(15);
      opacity: 0;
    }
  }

  .loading > div {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
  }

.e-1 {
    height: 80px;
    width: 400px;
    bottom: 0px;
    position: absolute;
    background-color: #0040bf;
    box-shadow: 0 0 50px 3px #0040bf;
    animation: popIn 0.5s ease-in forwards;
    animation-delay: 0s;
}

.e-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 400px;
    clip-path: polygon(0 0, 100% 80px, 100% 320px, 0 100%);
    background-color: #0040bf;
    box-shadow: 0 0 50px 3px #0040bf;
    animation: popIn 0.5s ease-in forwards;
    animation-delay: 0.2s;
}

.e-3 {
    position: absolute;
    top: 0;
    height: 80px;
    width: 400px;
    background-color: #0040bf;
    box-shadow: 0 0 50px 3px #0040bf;
    animation: popIn 0.5s ease-in forwards;
    animation-delay: 0.6s;
}

.e-4 {
    position: absolute;
    top: 160px;
    height: 80px;
    width: 400px;
    background-color: #0040bf;
    box-shadow: 0 0 50px 3px #0040bf;
    animation: popIn 0.5s ease-in forwards;
    animation-delay: 0.9s;
}

.flex{
  display: flex;
  flex-direction: column;
}

.theme{
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-top: 2%;
  font-size: 2.3vh;
}

.theme img{
width: 60%;
}

.perfis{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.perfis img{
  width: 30%;
  border-radius: 10%;
}

.hidden-zoom {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.hidden-zoom.show {
  transform: scale(1);
  opacity: 1;
}

.netHeader{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #0c0c0c;
}

.netHeader img{
  height: 4.5vh;
  padding: 22px
}

.pages{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75em;
  font-weight: bold;
}

.pagesProf{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
}

.pagesProf img{
  height: 6vh;
  border-radius: 50%;
}

.mainProject{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90% 
}

.mainProject img{
  width: 100%;
  height: 100%; 
}

.zoomAnim {
  transition: transform 0.3s ease, filter 0.3s ease;
  padding: 5px;
}

.zoomAnim.slide-up {
  transform: scale(0.9) translateY(-10px);
}

.zoomAnim.slide-down {
  transform: scale(0.9) translateY(10px);
}

.zoomAnim.active {
  transform: scale(1.3);
  z-index: 10;
}

.zoomAnim.inactive {
  filter: brightness(0.7);
  z-index: 1;
}

.zoomAnim:hover{
  transform: scale();
}

.perfisText{
  display: flex;
  justify-content: center;
  align-items: center;
}